@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat&display=swap');
@import url('components/container.css');
@import url('components/btn.css');
@import url('components/banner.css');
@import url('components/card.css');

body{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	margin: 0;
}

h1,h2{
	font-family: 'Josefin Sans', sans-serif;
}

#mlpil{
	margin: 50px 300px;
	font-size: 33px;
}
